:root{
  --main-color: #3F7E65;
  --second-color: #7E3F59;
}

.content-body {
  display: flex;
  justify-content: space-around;
  width: auto;
  margin-top: 12vh;
  padding-bottom: 12vh;
  align-items: center;
}
.body-projects {
  background: linear-gradient(160deg, var(--main-color),var(--second-color));
  background-attachment: fixed;
  position: relative;
  z-index: 1;
  color: white;
}
.container-photo{
  width: 15vw;
  height: fit-content;
}
.container-photo img{
  box-shadow: 0px 2px 5px 5px var(--main-color);
  border-radius: 5px;
  width: 100%;
  
}
/* .body-projects::after {
  content: " ";
  z-index: -1;
  position: absolute;
  bottom: 0;
  opacity: 0.2;
  width: 100%;
  height: 30%;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHZpZXdCb3g9JzAgMCAxNDQwIDMyMCc+PHBhdGggZmlsbD0nI2ZmZmZmZicgZmlsbC1vcGFjaXR5PScxJyBkPSdNMCwyMjRMNjAsMjAyLjdDMTIwLDE4MSwyNDAsMTM5LDM2MCwxMjhDNDgwLDExNyw2MDAsMTM5LDcyMCwxNDkuM0M4NDAsMTYwLDk2MCwxNjAsMTA4MCwxMzguN0MxMjAwLDExNywxMzIwLDc1LDEzODAsNTMuM0wxNDQwLDMyTDE0NDAsMzIwTDEzODAsMzIwQzEzMjAsMzIwLDEyMDAsMzIwLDEwODAsMzIwQzk2MCwzMjAsODQwLDMyMCw3MjAsMzIwQzYwMCwzMjAsNDgwLDMyMCwzNjAsMzIwQzI0MCwzMjAsMTIwLDMyMCw2MCwzMjBMMCwzMjBaJz48L3BhdGg+PC9zdmc+");
} */
.body-skills{
  display: flex;
  flex-direction: row;
  gap: 2vh;
  justify-items: center;
  width: calc(12vw * 22);
  animation: slider 60s linear infinite;
  position: relative;
}
.container-skills{
  position: relative;
  padding-bottom: 3vh;
}
.container-skills::before{
  content: "";
  z-index: 9;
  position: absolute;
  width: 7vw;
  top:0;
  left: 0;
  height: 100%;
  background: linear-gradient(to right, rgb(213, 198, 198) 0%, rgba(255,255,255,0) 100%);
	}
.container-skills::after{
  content: "";
  z-index: 9;
  position: absolute;
  width: 7vw;
  top:0;
  right: 0;
  height: 100%;
  background: linear-gradient(to left, rgb(213, 198, 198) 0%, rgba(255,255,255,0) 100%);
  }
.title-about-me {
  text-align: center;
  color: var(--main-color);
}
.title-projects {
  text-align: center;
}
.container-description {
  display: flex;
  color:rgb(255, 255, 255);
  flex-direction: column;
  width: 100% ;
  height: 100%;
  border-radius: 5px;
  /*border: 2px solid #D42F24;*/
  /*animation: border-move 5s infinite linear;*/
  box-shadow: 1px -1px 2px 5px var(--main-color), 1px 1px 12px 6px var(--second-color);
  background: linear-gradient(35deg, var(--main-color),var(--second-color));
  padding: 13px;
  background-color: white;
}
.box-description{
  width: 35vw;
  height: fit-content;
  margin: 0 20px;
}
 /* @keyframes border-move {
  25% {
    
    box-shadow: 5px 5px 20px 10px var(--main-color);
  }
  50% {
    
    box-shadow: 5px 5px 20px 8px var(--main-color);
  }
  75% {
    
    box-shadow: 5px 5px 20px 5px var(--main-color);
  }
  100% {
    
    box-shadow: 5px 5px 20px 3px var(--main-color);
  }
}  */

.container-projects {
  display: grid;
  grid-template-columns: repeat(3, 20%);
  justify-items: center;
  gap: 2rem 0px;
}
@media screen and (max-width: 768px) and (min-width: 500px) {
  .container-projects{
    display: grid;
    grid-template-columns: repeat(2, 40%);
    justify-items: center;
    gap: 2rem 0px;
  }
}
@media screen and (max-width: 499px){

  .container-projects{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    margin: 0 auto;
  }
  .content-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
  }
  .container-photo{
    width: 35vw;
  }
  .box-description{
    width: 50vw;
  }
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 60vh;
  /*border: 1px solid black;*/
  border-radius: 20px;
  position: relative;
  /*background-color: rgba(255, 255, 255, 0.164);*/
  color: white;
  box-shadow: 3px 8px 8px 8px rgb(8 63 151 / 45%);
}

.card a {
    position: relative;
}
.containerIcon{
  position: absolute;
  opacity: 0;
  transition: .3s ease;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  display: flex;
  justify-content: start;
  align-items: flex-end;
  color: white;
}
.containerIcon:hover{
  opacity: 1;
}
.containerIcon h3{
  padding: 10px;
  margin: 0;
}
.containerIcon svg{
  padding: 10px;
  width: 30px;
  height: 30px;
  fill: white;
  transition: .3s ease;
}

.btnReadMore{
  border: 0px;
  padding: 7px;
  background-color: transparent;
  color: white;
  border-radius: 0 10px 0 10px;
  box-shadow: 2px 3px #073031;
  transition: .3s ease;
}
.btnReadMore:hover{
  background-color: #073031;
  box-shadow: 10px 10px 0px #073031;
  opacity: 0.8;
}


.image-card {
/*   padding: 0 12px;
 */  width: 90%;
  max-height: 25vh;
  border-radius: 5px;
  box-shadow: 5px 10px rgba(110, 111, 106, 0.3);
}

.description-project-hide {
  display: none;
}
.info-projects{
  padding: 0 1vw;
  text-align: left;
  line-height: 1.5;
  opacity: 0;
  animation: vanish 2s;
  animation-fill-mode: forwards;
}

.react-icon{
  margin-top: 2vh;
  animation: spin 7s infinite linear;
  color: var(--main-color);
  font-size: 5vw;
}

@keyframes vanish {
  
  100%{
    opacity: 1;
  }
  
}

@keyframes spin {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
.icon {
  margin-top: 2vh;
  font-size: 5vw;
  color: var(--main-color) ;
}
.description-skills{
  text-align: center;
}
#skills{
  padding-bottom: 3vh;
}
.box-icon{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-radius: 5px;
  width: 12vw;
  min-width: 100px;
  box-shadow: 5px 10px rgba(110, 111, 106, 0.4);
}
.box-icon:nth-child(2n-1) .icon{
  color: var(--second-color) ;
}
.body-contact{
  background: linear-gradient(35deg, var(--main-color),var(--second-color));
  background-attachment: fixed;
  position: relative;
  z-index: 2;
  color: white;
}
#contact{
  padding-top: 3vh;
}
.info-contact{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.networks-contact{
  display: flex;
  width: 20%;
  justify-content: space-evenly;
}
.icon-contact{
  font-size: 50px;
  color: white;
}

.card-7{
  grid-area: 3/2;
}

@keyframes slider {
  0% {
      transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-12vw * 11));
  }
}